header{
    background-color: #00ff77;
    height: auto;
    margin-top: -1vw;
    margin-left: -1vw;
    margin-right: -1vw;
    display: grid;
    grid-template-columns: 40% auto 40%;
}
body{
    background-color: #f3f3f3;
}
#logo-img{
    width: 8vw;
}
main{
    grid-template-columns: auto auto auto auto;
    margin-top: 5vh;
}
#home{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5vh;
}
#home{
    width: auto;
    height: 20vh;
    background-color: #ffffff;
    border: none;
    border-width: 0.5px;
    border-radius: px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.button-div{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 1rem;
}
button{
    width: 25vw;
    height: 10vh;
    font-size: 4vw;
    font-family: "Bebas Neue";
    text-align: center;
    color: #000000;
    margin-top: 2vh;
    margin-bottom: 2vh;
}